* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#images {
  height: 600px;
  width: 450px;
  transition: all 1.5s linear;
}

#block {
  height: 600px;
  width: 450px;
  overflow: hidden;
  box-shadow: 5px 5px 10px grey;
  /* transform: translateX(300); */
}
